<h1>Editing User #<%= @user.id %></h1>

<%= form_tag(user_url(@user), method: 'patch') do %>
  <div>
    <%= label_tag :firstname %><br />
    <%= text_field_tag :firstname, @user.firstname %>
  </div>

  <div>
    <%= label_tag :lastname %><br />
    <%= text_field_tag :lastname, @user.lastname %>
  </div>

  <div>
    <%= submit_tag "Update User" %>
  </div>
<% end %>
