<h1>Tip #<%= @tip.id %></h1>

<dl>
  <dt>User</dt>
  <dd><%= @tip.user_id %></dd>

  <dt>Title</dt>
  <dd><%= @tip.title %></dd>

  <dt>Description</dt>
  <dd><%= @tip.description %></dd>

  <dt>Room</dt>
  <dd><%= @tip.room %></dd>

  <dt>Price</dt>
  <dd><%= @tip.price %></dd>

  <dt>Savings</dt>
  <dd><%= @tip.savings %></dd>

</dl>
